@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root{
    --font01: 'Baloo Da 2', cursive;
    --font02: 'Josefin Slab', serif;
    --font03: 'Mulish', sans-serif;
    --cor01:#dc143c;
    --cor02:#E197A6;
    --cor03:#DB143C;
    --cor04:#5C242F;
    --cor05:#A80F2E;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}
.line{
    width: 100%;
    background-color: white;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 0px #555;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .35rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.48rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor05);
    color: white;
    font-family: var(--font03);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid var(--cor05);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.788);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 25s;
    
}
@keyframes zoom{
    0%{
        transform:  scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 12vw;
    left: 10vw;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.banner h1{
    font-family: var(--font01);
    color: white;
    font-size: 3.5rem;
    font-weight: 200; 
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}
.banner p{
    font-family: var(--font02);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
    font-weight: 500;
    margin-bottom: 2rem;
    border-bottom: solid .1rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}
.banner button{
    font-size: var(--font03);
    text-transform: uppercase;
    padding: 10px 25px;
    letter-spacing: .1rem;
    background-image: linear-gradient(to left, var(--cor01), var(--cor03) ,var(--cor05));
    border: none;
    box-shadow: 2px 2px 3px black;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
    border-radius: 2px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}
.banner button:hover{
    opacity: 0.8;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.8s;
    z-index: 1;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin: .5rem;
}

.menu-link{
    font-family: var(--font03);
    font-size: 2rem;
    color: #555;
    transition: color 0.5s;
}

.menu-link:hover{
    color: var(--cor05);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: #555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color 0.5s;
}

.social-media i:hover{
    color: var(--cor05);
}
.sobre{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#minha-foto{
    display: flex;
    width: 270px;
    height: 270px;
    background-color: var(--cor05);
    border-radius: 50rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8rem;
    top: 45rem;
}

#minha-foto img{
    width: 250px;
    height: 250px;
}
#img-trybe{
    position: absolute;
    top: 70rem ;
    left: 2.5rem;
    width: 25rem;
}
#img-trybe img{
    width: 100%;
    object-fit: cover;
}
.sobre-mim{
    width: 50rem;
    right: 0;
    position: absolute;
}
.sobre-mim h1{
    font-family: var(--font03);
    font-size: 2rem;
    margin-bottom: 2rem;
    background-color: var(--cor05);
    padding-left: 2rem;
}
.sobre-mim p{
    font-family: var(--font02);
    text-align: justify;
    width: 40rem ;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: rgba(85, 85, 85, 0.301);
    padding: 1rem;
    border-radius: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}
#espaço{
    height: 90vh;
    width: 800px;
    
}
.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6,6rem);
    row-gap: .5rem ;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #e197a627 ;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font01);
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
    border-bottom: solid 3px var(--cor05);
    margin-bottom: 1.5rem;
    color: #363636;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #363636;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: var(--font02);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font02);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 20rem;
    height: 30rem;
    position: relative;
    display: flex;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: #363636;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .6;
    
}

.card-info{
    
    position: absolute;
    bottom: 0;
    padding: 1rem 2rem ;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.856);
}

.card-info h2{
    
    font-family: var(--font03);
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor03);
    position: absolute;
    bottom: 35px;
    transition: all ;
    
}

.card-info h3{    
    font-family: var(--font01);
    font-size: 1.5rem;
    color: white;
    position: absolute;
    bottom: 0;
    transition: all ;
    
    
}

.card-info p {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    font-family: var(--font02);
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    
}

.card-info button{
    opacity: 0;
    visibility: hidden;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    background-image: linear-gradient(to left, var(--cor01), var(--cor03) ,var(--cor05));
    border: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.856);
    transition: all 1s;
    
    
}
.card-info button a{
    padding: 1rem;
    cursor: pointer;
}

.card-info a{
    color: white;
    text-transform: uppercase;
    
}
.card:hover .card-info h3 {
    animation: moveup 1s;
    top: -3rem;
    
}
.card:hover .card-info p {
    opacity: 1;
    visibility: visible;
    animation: moveup 1s;
}

.card:hover .card-info button {
    opacity: 1;
    visibility: visible;
    animation: moveup 1s;
}

.card:hover .card-info h2 {
    animation: moveup 1s;
    top: -5rem;
    
}

@keyframes moveup{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

#teste{
    height: 300px;
}

