@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root{
    --font01: 'Baloo Da 2', cursive;
    --font02: 'Josefin Slab', serif;
    --font03: 'Mulish', sans-serif;
    --cor01:#dc143c;
    --cor02:#E197A6;
    --cor03:#DB143C;
    --cor04:#5C242F;
    --cor05:#A80F2E;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.788);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 25s;
    
}
@keyframes zoom{
    0%{
        transform:  scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 12vw;
    left: 5vw;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.banner h1{
    font-family: var(--font01);
    color: white;
    font-size: 3.5rem;
    font-weight: 200; 
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}
.banner p{
    font-family: var(--font02);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
    font-weight: 500;
    margin-bottom: 2rem;
    text-decoration: underline;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}
.banner button{
    font-size: var(--font03);
    text-transform: uppercase;
    padding: 10px 25px;
    letter-spacing: .1rem;
    background-image: linear-gradient(to left, var(--cor01), var(--cor03) ,var(--cor05));
    border: none;
    box-shadow: 2px 2px 3px black;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
    border-radius: 2px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}
.banner button:hover{
    opacity: 0.8;
}
